* {
    box-sizing: border-box;
    transition: .3s ease;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    width: 100%;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: linear-gradient(365deg, #ffffff 0%, #d7e1ec 74%);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}
