@import "src/styles/var";

main {
    section:not(:last-child) {
        margin-bottom: 75px;
    }
}

.home-section-card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    &__title {
        margin: 1em 1.6em 1rem;
        color: #333;
        font-size: 1.7rem;
    }

    &__contents {
        padding: 0 40px 20px;
    }

    &__action {
        cursor: pointer;
        padding: 0.5rem 1rem;
        color: #1499ea;
        border-radius: 2rem;
        &:hover {
            background-color: #3332;
        }

        &__container {
            align-self: flex-end;
            padding: 1rem 2rem;
            display: flex;
            align-items: center;
            column-gap: 1.5rem;
        }

        &--strong {
            background-color: #333;
            color: #fff;
            transition: none;

            &:hover {
                background-color: #333c;
            }
        }
    }
}

.featured {
    overflow-x: hidden;
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    align-items: center;

    &__container {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        cursor: pointer;
        overflow-x: hidden;
        max-width: 100%;
        white-space: pre;
        line-height: 1.3;
        font-size: 1rem;
        text-overflow: ellipsis;
        transition: none;
        &:hover {
            background-color: #0001;
        }

        a {
            display: block;
        }

        img {
            width: 200px;
            max-width: 200px;
            filter: drop-shadow(0 5px 10px #0002);
        }
    }
}
