@mixin gridBaseStyle {
    display: grid;
    grid-column-gap: 1.5rem;
    max-width: 100%;
}

$baseClassName: "grid";
$gridColLayouts: 4, 6, 8, 10, 12;
$gridSpanSizes: 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12;
$gridStartNumber: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11;

.#{$baseClassName} {
    @include gridBaseStyle;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

@each $colLayout in $gridColLayouts {
    @include generateBreakPointStyleClasses("#{$baseClassName}-#{$colLayout}") {
        @include gridBaseStyle;
        grid-template-columns: repeat($colLayout, minmax(0, 1fr));
    }
}

@each $spanSize in $gridSpanSizes {
    @include generateBreakPointStyleClasses("#{$baseClassName}\\:col-span-#{$spanSize}") {
        grid-column: span $spanSize / span $spanSize;
    }
    @include generateBreakPointStyleClasses("#{$baseClassName}\\:row-span-#{$spanSize}") {
        grid-row: span $spanSize / span $spanSize;
    }
}

@each $startNumb in $gridStartNumber {
    @include generateBreakPointStyleClasses("#{$baseClassName}\\:col-start-#{$startNumb}") {
        grid-column-start: $startNumb;
    }
    @include generateBreakPointStyleClasses("#{$baseClassName}\\:row-start-#{$startNumb}") {
        grid-row-start: $startNumb;
    }
}
